<nav class="navbar navbar-default">
  	<div class="container-fluid">
    	<div class="navbar-header">
      		<a class="navbar-brand" href="/auth">
        		<img alt="Brand" src="/images/genie.png" width="25px" height="25px" />
	    	</a>
	    	<p class="navbar-text">Genie</p>
    	</div>
  	</div>
</nav>
<div class="container">
	<center><h4>Beta User Requests</h4></center>
	<table class="table table-hover table-bordered" style="vertical-align: middle">
	    <thead>
	    	<tr>
	    		<th>S.No</th>
		        <th>Email</th>
		        <th>Date</th>
		        <th>Approved</th>
		        <th>Approve</th>
		      </tr>
	    </thead>
	    <tbody>
			{{#each employees}}
				<tr>
				    <td>{{@index}}</td>
				    <td>{{this.email}}</td>
			        <td>{{this.timestamp}}</td>
			        {{#if this.approved}}
					    <td style="color: green" id="{{this.id}}"><strong>{{this.approved}}</strong></td>
					    <td><button onclick="approve('{{this.id}}')" id="button{{this.id}}" disabled="true">Approve</button></td>
					{{else}}
					    <td style="color: red" id="{{this.id}}"><strong>{{this.approved}}</strong></td>
					    <td><button onclick="approve('{{this.id}}')" id="button{{this.id}}">Approve</button></td>
				  	{{/if}}
			    </tr>
		  	{{/each}}
	  	</tbody>
</div>
<script type="text/javascript">	
	function approve(employeeID) {
		$.ajax({url: "/admin/approve/employee/" + employeeID, success: function(response) {
			if (response == "OK") {
				$('#button' + employeeID).attr('disabled','true');
				$('#' + employeeID).css('color', 'green');
				$('#' + employeeID + " > strong").text('true');
			}
		}});
	}
</script>